<a href="https://colab.research.google.com/github/VenkataPekala/CongosProject/blob/AutoMPG/AutoMPG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
auto_df=pd.read_csv('autoMSG.csv')
auto_df.head(10)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,CAR Number
0,18,8,307.0,130,3504,12.0,70.0,1,chevrolet chevelle malibu,L6V 043
1,15,8,350.0,165,3693,11.5,70.0,1,buick skylark 320,RTY079
2,18,8,318.0,150,3436,11.0,70.0,1,plymouth satellite,MTP600
3,16,8,304.0,150,3433,12.0,70.0,1,amc rebel sst,MNJ000
4,17,8,302.0,140,3449,10.5,70.0,1,ford torino,JEETMEET
5,15,8,429.0,198,4341,10.0,70.0,1,ford galaxie 500,NEET090
6,14,8,454.0,220,4354,9.0,70.0,1,chevrolet impala,NEET098
7,14,8,440.0,215,4312,8.5,70.0,1,plymouth fury iii,MNOP56
8,14,8,455.0,225,4425,10.0,70.0,1,pontiac catalina,NMTL580
9,15,8,390.0,190,3850,8.5,70.0,1,amc ambassador dpl,NaN

In [ ]:
auto_df.drop('origin',axis=1,inplace=False)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,car name,CAR Number
0,18,8,307.0,130,3504,12.0,70.0,chevrolet chevelle malibu,L6V 043
1,15,8,350.0,165,3693,11.5,70.0,buick skylark 320,RTY079
2,18,8,318.0,150,3436,11.0,70.0,plymouth satellite,MTP600
3,16,8,304.0,150,3433,12.0,70.0,amc rebel sst,MNJ000
4,17,8,302.0,140,3449,10.5,70.0,ford torino,JEETMEET
...,...,...,...,...,...,...,...,...,...
93,14,8,318.0,150,4237,14.5,73.0,plymouth fury gran sedan,FGTEE4
94,13,8,440.0,215,4735,11.0,73.0,chrysler new yorker brougham,GTTYR6
95,12,8,455.0,225,4951,11.0,73.0,buick electra 225 custom,TTGGT53
96,13,8,360.0,175,3821,11.0,73.0,amc ambassador brougham,TGTYY67
97,18,6,225.0,105,3121,16.5,73.0,plymouth valiant,HUYT76

In [ ]:
auto_df.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    2
model year      2
origin          0
car name        0
CAR Number      7
dtype: int64

In [ ]:
auto_df['CAR Number'].mode()

0    JHGY59
1    TN5678
Name: CAR Number, dtype: object

In [ ]:
auto_df['CAR Number']=auto_df['CAR Number'].fillna(auto_df['CAR Number'].mode)

In [ ]:
auto_df.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    2
model year      2
origin          0
car name        0
CAR Number      0
dtype: int64

In [ ]:
auto_df.drop_duplicates(subset=['CAR Number'],inplace=True)

In [ ]:
auto_df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,CAR Number
0,18,8,307.0,130,3504,12.0,70.0,1,chevrolet chevelle malibu,L6V 043
1,15,8,350.0,165,3693,11.5,70.0,1,buick skylark 320,RTY079
2,18,8,318.0,150,3436,11.0,70.0,1,plymouth satellite,MTP600
3,16,8,304.0,150,3433,12.0,70.0,1,amc rebel sst,MNJ000
4,17,8,302.0,140,3449,10.5,70.0,1,ford torino,JEETMEET
...,...,...,...,...,...,...,...,...,...,...
93,14,8,318.0,150,4237,14.5,73.0,1,plymouth fury gran sedan,FGTEE4
94,13,8,440.0,215,4735,11.0,73.0,1,chrysler new yorker brougham,GTTYR6
95,12,8,455.0,225,4951,11.0,73.0,1,buick electra 225 custom,TTGGT53
96,13,8,360.0,175,3821,11.0,73.0,1,amc ambassador brougham,TGTYY67
97,18,6,225.0,105,3121,16.5,73.0,1,plymouth valiant,HUYT76

In [ ]:
auto_df.head(0)

Empty DataFrame
Columns: [mpg, cylinders, displacement, horsepower, weight, acceleration, model year, origin, car name, CAR Number]
Index: []

In [ ]:
auto_df.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,CAR Number
93,14,8,318.0,150,4237,14.5,73.0,1,plymouth fury gran sedan,FGTEE4
94,13,8,440.0,215,4735,11.0,73.0,1,chrysler new yorker brougham,GTTYR6
95,12,8,455.0,225,4951,11.0,73.0,1,buick electra 225 custom,TTGGT53
96,13,8,360.0,175,3821,11.0,73.0,1,amc ambassador brougham,TGTYY67
97,18,6,225.0,105,3121,16.5,73.0,1,plymouth valiant,HUYT76

In [ ]:
auto_df.dtypes

mpg               int64
cylinders         int64
displacement    float64
horsepower        int64
weight            int64
acceleration    float64
model year      float64
origin            int64
car name         object
CAR Number       object
dtype: object

In [ ]:
auto_df.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin
count,90.000000,90.000000,90.000000,90.000000,90.000000,88.000000,88.000000,90.000000
mean,18.133333,6.366667,259.516667,132.466667,3380.088889,13.954545,71.295455,1.344444
std,5.502196,1.863005,124.299937,47.763274,961.671714,3.046230,1.063059,0.656191
min,9.000000,3.000000,70.000000,46.000000,1773.000000,8.000000,70.000000,1.000000
25%,14.000000,4.000000,121.000000,90.000000,2398.250000,12.000000,70.000000,1.000000
50%,17.000000,8.000000,303.000000,140.000000,3442.500000,13.500000,71.000000,1.000000
75%,22.750000,8.000000,351.000000,165.000000,4264.750000,15.500000,72.000000,1.000000
max,31.000000,8.000000,455.000000,225.000000,5140.000000,23.500000,73.000000,3.000000

In [ ]:
auto_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90 entries, 0 to 97
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           90 non-null     int64
 1   cylinders     90 non-null     int64
 2   displacement  90 non-null     float64
 3   horsepower    90 non-null     int64
 4   weight        90 non-null     int64
 5   acceleration  88 non-null     float64
 6   model year    88 non-null     float64
 7   origin        90 non-null     int64
 8   car name      90 non-null     object
 9   CAR Number    90 non-null     object
dtypes: float64(3), int64(5), object(2)
memory usage: 7.7+ KB

In [ ]:
auto_df['horsepower'].max()

225

In [ ]:
for x in auto_df['horsepower']:
  if x == 225:
    print(auto_df['car name'])

In [ ]:
auto_df.rename(columns={'mpg':'L/100KM'})

,L/100KM,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,CAR Number
0,18,8,307.0,130,3504,12.0,70.0,1,chevrolet chevelle malibu,L6V 043
1,15,8,350.0,165,3693,11.5,70.0,1,buick skylark 320,RTY079
2,18,8,318.0,150,3436,11.0,70.0,1,plymouth satellite,MTP600
3,16,8,304.0,150,3433,12.0,70.0,1,amc rebel sst,MNJ000
4,17,8,302.0,140,3449,10.5,70.0,1,ford torino,JEETMEET
...,...,...,...,...,...,...,...,...,...,...
93,14,8,318.0,150,4237,14.5,73.0,1,plymouth fury gran sedan,FGTEE4
94,13,8,440.0,215,4735,11.0,73.0,1,chrysler new yorker brougham,GTTYR6
95,12,8,455.0,225,4951,11.0,73.0,1,buick electra 225 custom,TTGGT53
96,13,8,360.0,175,3821,11.0,73.0,1,amc ambassador brougham,TGTYY67
97,18,6,225.0,105,3121,16.5,73.0,1,plymouth valiant,HUYT76

In [ ]:
auto_df['weight']=auto_df['weight']/auto_df['weight'].max()

In [ ]:
auto_df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,CAR Number
0,18,8,307.0,130,0.681712,12.0,70.0,1,chevrolet chevelle malibu,L6V 043
1,15,8,350.0,165,0.718482,11.5,70.0,1,buick skylark 320,RTY079
2,18,8,318.0,150,0.668482,11.0,70.0,1,plymouth satellite,MTP600
3,16,8,304.0,150,0.667899,12.0,70.0,1,amc rebel sst,MNJ000
4,17,8,302.0,140,0.671012,10.5,70.0,1,ford torino,JEETMEET
...,...,...,...,...,...,...,...,...,...,...
93,14,8,318.0,150,0.824319,14.5,73.0,1,plymouth fury gran sedan,FGTEE4
94,13,8,440.0,215,0.921206,11.0,73.0,1,chrysler new yorker brougham,GTTYR6
95,12,8,455.0,225,0.963230,11.0,73.0,1,buick electra 225 custom,TTGGT53
96,13,8,360.0,175,0.743385,11.0,73.0,1,amc ambassador brougham,TGTYY67
97,18,6,225.0,105,0.607198,16.5,73.0,1,plymouth valiant,HUYT76

In [ ]:
import numpy as np
auto_df.replace("?", np.nan, inplace = True)
auto_df.dropna(inplace = True)
auto_df["horsepower"]=auto_df["horsepower"].astype(int, copy=True)
bins = np.linspace(min(auto_df["horsepower"]), max(auto_df["horsepower"]), 4)

ValueError: ignored

In [ ]:
group_names = ['Low', 'Medium', 'High']
auto_df['horsepower_binned'] = pd.cut(auto_df['horsepower'], bins, labels=group_names, include_lowest=True )

TypeError: ignored

In [ ]:
auto_df['horsepower'].max
auto_df.set_index('car name')['horsepower'].idxmax()

'pontiac catalina'